<!DOCTYPE html>
<html>
<head>
  <title>Simple</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p><%= link_to "Home", root_path %>  <%= link_to "New Person", new_person_path %></p>
<p> <%= link_to "Search", search_path %></p>


</body>
</html>
